/*
 *
 * Colurs
 *
 */
 :root {
   --colour-purple: #ffb3ff;
   --colour-blue: #b3b3ff;
   --colour-green: #b3ffb3;
   --colour-white: white;
   --colour-grey: grey;
 }

header, footer, main {
  display: block;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}


a {
  color: purple;
}
a:hover {
  color: darkgreen;
}

/*
 *
 * Header
 *
 */

header .jumbotron {
  background-color: var(--colour-purple);
  margin-bottom: 0;
}

header .logo {
  height: 100%;
  max-height: 300px;
  width: 100%;
  max-width: 261px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

header p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

header a .logo {
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * Main
 *
 */

main {
  background-color: var(--colour-white);
}

#policy {
  padding: 1em;
}

main .logo {
  max-width: 420px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

main p {
  max-width: 500px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

main .video {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

main .googlePlayIcon {
  display:inline-block;
  width:164px;
  vertical-align: top;
  margin-top: -11px;
  margin-right: auto;
}

main .googlePlayIcon img {
  width:inherit;
  display: inherit;
}

main .appStoreIcon {
  margin-left: auto;
  display:inline-block;
  overflow:hidden;
  background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-02-25&kind=iossoftware&bubble=apple_music) no-repeat;
  width:135px;
  height:40px;
  vertical-align: top;
}

/*
 *
 * Footer
 *
 */

footer .jumbotron {
   background-color: var(--colour-blue);
 }

footer p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
